<template>
  <div>
    <section>
      <h2 class="section-header">🔥 Новинки</h2>
      <div class="row">
        <movie-item
          cover="cat.png"
          title="Мульт в кино. Выпуск №103. Некогда грустить!"
        />
        <movie-item cover="batman.png" title="Новый Бэтмен" />
        <movie-item
          cover="hollywood.png"
          title="Однажды... в Голливуде"
          caption="Фильм повествует о череде событий, произошедших в Голливуде в 1969 году,
          на закате его «золотого века».
          Известный актер Рик Далтон и его дублер Клифф Бут пытаются найти
          свое место в стремительно меняющемся мире киноиндустрии."
        />
        <movie-item cover="strips.png" title="Стриптизёрши" />
      </div>
    </section>
    <section>
      <h2 class="section-header">Жанры</h2>
      <div class="row">
        <genre-card
          emoji="smiling.png"
          genre="Комедии"
          :gradient="{ start: '#F2C94C', end: '#F29A4A' }"
        />
        <genre-card
          emoji="crying.png"
          genre="Драмы"
          :gradient="{ start: '#F2994A', end: '#EB5757' }"
        />
        <genre-card
          emoji="alien.png"
          genre="Фантастика"
          :gradient="{ start: '#56CCF2', end: '#2F80ED' }"
        />
        <genre-card
          emoji="ghost.png"
          genre="Ужасы"
          :gradient="{ start: '#828282', end: '#333333' }"
        />
      </div>
    </section>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import GenreCard from '../components/GenreCard.vue';
import MovieItem from '../components/MovieItem.vue';

export default defineComponent({
  name: 'MoviesView',
  components: {
    GenreCard,
    MovieItem,
  },
});
</script>

<style lang="scss">
.section-header {
  @include font-size(section);
}
</style>
