<template>
  <div class="modal-overlay" @click="$emit('modal-close')">
    <div class="modal-wrapper">
      <div @click.stop id="modal">
        <h2>Вход</h2>
        <form @submit.prevent="onFormSubmit">
          <input v-model="state.login" type="text" placeholder="Логин" />
          <input
            v-model="state.password"
            type="password"
            placeholder="Пароль"
          />
          <div class="custom-checkbox">
            <input v-model="state.remember" type="checkbox" id="remember" />
            <label class="custom-checkbox--label" for="remember">
              Запомнить
            </label>
          </div>
          <button type="submit">Войти</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from 'vuex';
import { defineComponent, reactive } from 'vue';

export default defineComponent({
  name: 'LoginModal',
  emits: ['modal-close'],
  setup(_, { emit }) {
    const state = reactive({
      login: '',
      password: '',
      remember: false,
    });

    const store = useStore();

    const onFormSubmit = () => {
      store.dispatch('setUsername', state.login);
      if (state.remember) {
        localStorage.setItem('username', state.login);
      }
      emit('modal-close');
    };

    return {
      state,
      onFormSubmit,
    };
  },
});
</script>

<style lang="scss">
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
}

.modal-wrapper {
  opacity: 1;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  background: #fff;
  border-radius: 8px;
  padding: 10px 30px;
  width: 304px;
  position: absolute;
  z-index: 1010;

  h2 {
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    input {
      width: 100%;
    }

    label {
      align-self: flex-start;
      @include custom-pointer();
    }

    & > :not([type="submit"]) {
      margin-bottom: 1.5em;
    }

    button[type="submit"] {
      margin-top: 111px;
      margin-bottom: 2em;
      align-self: center;
    }
  }
}

.custom-checkbox {
  position: relative;
  input[type="checkbox"] {
    display: none;
    &:checked + label:after {
      display: inline-block;
    }
  }

  &--label {
    position: relative;
    display: flex;
    align-items: center;
    @include font-size(caption);

    &:before,
    &:after {
      margin-right: 8px;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px $gray1 solid;
      border-radius: 4px;
    }
    &:after {
      position: absolute;
      top: calc(16px - 5px - 7.61px);
      left: calc(16px - 3px - 10px);
      content: "";
      width: 10px;
      height: 7.61px;
      display: none;
      border-left: 2px $red solid;
      border-bottom: 2px $red solid;
      transform: rotate(-45deg);
    }
  }
}
</style>
