<template>
  <footer>
    <div class="footer-container container">
      <img src="../assets/htc-cs-logo.svg" height="64" width="32" />
      <div>
        <p>
          426057, Россия, Удмуртская Республика, г. Ижевск, ул. Карла Маркса,
          246 (ДК «Металлург»)<br />
          +7 (3412) 93-88-61, 43-29-29
        </p>
        <a class="htc-link" href="https://htc-cs.ru">htc-cs.ru</a>
      </div>
    </div>
  </footer>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TheFooter',
});
</script>

<style lang="scss">
footer {
  @include font-size(caption);
  width: 100%;
  margin-top: 3.6em;
  min-height: 120px;
  background-color: $gray6;
  flex-shrink: 0;
  .htc-link {
    color: $htc-color;
    text-decoration: none;
    @include font-weight(medium);
  }

  .footer-container {
    padding: 1.5em 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
