<template>
  <header v-on:open-modal="onSearchClick">
    <span class="logo">
      <img src="../assets/logo.svg" width="36" height="32" alt="Видеосервис" />
      <p class="logo--name">Видеосервис</p>
    </span>
    <form>
      <input placeholder="Поиск..." type="text" />
      <button class="transparent">Найти</button>
    </form>
    <template v-if="!getUsername">
      <button v-if="!getUsername" @click="$emit('login-click')">Войти</button>
    </template>
    <template v-else>
      <div>
        <span
          v-if="!state.inputVisible"
          @click="onUsernameClick"
          class="username"
          >{{ getUsername }}</span
        >
        <input
          v-model="state.inputValue"
          v-if="state.inputVisible"
          class="username-input"
          type="text"
          @mouseleave="onUsernameInputClick"
        />
        <button class="transparent" @click="onLogoutClick">Выйти</button>
      </div>
    </template>
  </header>
</template>

<script>
import { useStore, mapGetters } from 'vuex';
import { defineComponent, reactive } from 'vue';

export default defineComponent({
  name: 'TheHeader',
  computed: {
    ...mapGetters(['getUsername']),
  },
  setup() {
    const store = useStore();

    const state = reactive({
      inputVisible: false,
      inputValue: '',
    });

    const onUsernameClick = () => {
      state.inputValue = store.getters.getUsername;
      state.inputVisible = true;
    };

    const onUsernameInputClick = () => {
      store.dispatch('setUsername', state.inputValue);
      localStorage.setItem('username', state.inputValue);
      state.inputVisible = false;
    };

    const onLogoutClick = () => {
      store.dispatch('logout');
      localStorage.removeItem('username');
    };

    return {
      onLogoutClick,
      onUsernameClick,
      state,
      onUsernameInputClick,
    };
  },
});
</script>

<style lang="scss">
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding-top: 1.5em;

  @include breakpoint-md-down() {
    flex-direction: column;
    align-items: stretch;

    & > :not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    @include font-size(section);
    @include font-weight(medium);

    @include breakpoint-md-down() {
      align-self: center;
    }

    img {
      margin-right: 12px;
    }

    &--name {
      @include breakpoint-md-down() {
        display: none;
      }
    }
  }

  input {
    min-width: 320px;
  }

  .username {
    @include font-size(caption);
    @include font-weight(medium);
  }
}
</style>
