<template>
  <div class="wrapper">
    <div class="container">
      <the-header @login-click="onLoginClick" />
      <the-tabs />
      <router-view />
    </div>
    <the-footer />
    <login-modal v-if="state.modalVisible" @modal-close="onModalClose" />
  </div>
</template>

<script>
import { defineComponent, reactive } from 'vue';
import TheHeader from './components/TheHeader.vue';
import TheFooter from './components/TheFooter.vue';
import TheTabs from './components/TheTabs.vue';
import LoginModal from './components/Modal/Login.vue';

export default defineComponent({
  name: 'App',
  components: {
    TheHeader,
    TheFooter,
    TheTabs,
    LoginModal,
  },
  setup() {
    const state = reactive({
      modalVisible: false,
    });

    const showModal = () => {
      state.modalVisible = true;
    };

    const hideModal = () => {
      state.modalVisible = false;
    };

    const onLoginClick = () => showModal();

    const onModalClose = () => hideModal();

    return {
      onLoginClick,
      onModalClose,
      state,
    };
  },
});
</script>

<style lang="scss">
@import "~normalize.css";

body {
  @include font-weight(normal);
  @include font-size(body);
  color: $gray1;
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1140px;

  @media only screen and (max-width: 960px) {
    max-width: 960px;
  }

  @media only screen and (max-width: 768px) {
    max-width: 720px;
  }

  @media only screen and (max-width: 576px) {
    max-width: 540px;
  }
}

.row {
  display: flex;
  flex-direction: row;

  @include breakpoint-md-down() {
    flex-direction: column;
    & > :not(:first-child) {
      margin-top: 20px;
    }
  }
  @include breakpoint-lg-up() {
    & > :not(:first-child) {
      margin-left: 20px;
    }
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-weight(medium);
}

h1 {
  @include font-size(title);
}

h2 {
  @include font-size(body);
}

button {
  color: #fff;
  background-color: $red;
  border-radius: 4px;
  border-style: none;
  padding: 6px 20px;
  @include font-size(caption);
  @include font-weight(medium);

  &.transparent {
    color: $red;
    border-style: none;
    border: 0;
    background-color: #fff;
  }

  &:hover {
    transition: 0.5s;
    @include custom-pointer();
    &:not(.transparent) {
      background-color: $darken-red;
    }
  }
}

input[type="text"],
input[type="password"] {
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $gray1;
  margin-right: 15px;
  @include font-size(caption);
  &:focus {
    @include font-weight(medium);
    outline: none;
  }
}
</style>
